body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: brown;
  /* color: chocolate; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  /* margin-top: 100px; */
  background-color: rgb(60, 227, 210);
  text-align: center;
}
main{
    display: flex;
    justify-content: center;
}

.screen{

  border-radius: 1px;
  border: 5px solid rgb(45, 234, 7);
  /* border-bottom: 5px solid rgb(38, 255, 0);
  border-top: 10px solid rgb(38, 255, 0);
   */
  /* margin:1px 1px 1px 1px; */

}
.container{
  max-width:  400px;
}
h2{
  font: 2em sans-serif;
  border: 1px solid black;
  /* display: none; */
  text-align: center;
  color: blue;
}
#re{
  margin-top: 10px;
  margin-bottom: 279px;
  border: 1px solid green;
  border-radius: 10px;
  font: 1em sans-serif;
  background-color: chartreuse;
  height: 50px;
  width: 100px;
}
.box{
  height: 100px;
  width: 100px;
  background-color: darkcyan;
  margin: 4px;
  border: 1px solid wheat;
  position:static;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.box:hover {
  background-image: linear-gradient(to right, #feb47b, #ff7e5f); 
  background-color: #005f6b; /* Change background color on hover */
  transform: scale(1.1);
  border-color: #45a049; /* Change border color on hover */
  color: #2e4a2f;
  /* letter-spacing: px; Increase letter spacing on hover */
  text-shadow: 2px 2px 4px #000000; 
  /* Change text color on hover */
  transform: rotate(5deg) scale(1.05);

}
